{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>save recipe</h1>
    <form name=form action="/saved" method="post"  onsubmit="recipeBuilder()">
        <label for="title">Title</label>
        <input class="block" type="text" name="title"><br>

        <label for="image">Image URL</label>
        <input class="url" type="text" name="image"><br>

        <label for="servings">Servings</label>
        <input class="block" type="text" name="servings"><br>

        <label for="ingredients">Ingredients</label> 
  
        <div id="ingredients-form-field">     
             <input class="ingred no-follow" type="text"><br>
        </div>
        <input class="block add-button" type="button" onclick="addIngredientsField();" value="Add Ingredient"><br>
        <input type="hidden" name="ingredients" id="ingredients" value="">

        <label for="steps">Steps</label> 
  
        <div id="steps-form-field">     
            <input class="step no-follow" type="text"><br>
        </div>
        <input class="block add-button" type="button" onclick="addStepsField();" value="Add Step"><br>
        <input type="hidden" name="steps" id="steps" value="">

        <label for="prep_time">Prep time (minutes)</label>
        <input class="block" maxlength="4" size="4 type="text" name="prep_time"><br>

        <label for="skill">Skill level</label>
        <input class="block" maxlength="1" size="1" type="text" name="skill"><br>

        <label for="method">Method</label>
        <input class="block" type="text" name="method"><br>

        <label for="catagory">Category</label>
        <input class="block" type="text" name="catagory"><br>

        <input class="block add-button" type="submit" value="Submit">
      </form>
</div>
{% endblock %}
