{% extends 'base.html.twig' %}
{% block body %}

<div class="wrapper">
    <h1>Search Results</h1>

    {% for result in results %}
  
           
        <div class="card">
            <a class="card_link" href="{{ path('recipe', {'recipeId': result.id}) }}">
                <img class="recipe_thumb" src="{{ result.image }}" alt="Avatar">
                <div class="container">
                    <b> {{ result.title }}</b>
                </div>
            </a>
        </div> 
           
    {% endfor %}
</div>
{% endblock %}
